<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<file>jps.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>jps.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="WARN" />
	<logger name="pl.edu.pjwstk.jps.qres.interpreter.QResStack" level="DEBUG" />
	<logger name="pl.edu.pjwstk.jps.interpreter.envs.ENVS" level="DEBUG" />

	<root level="INFO">
		 <!--<appender-ref ref="STDOUT" />  -->
		<appender-ref ref="FILE" />
	</root>
</configuration>